.crud-table {
  background-color: transparent;
  border: 1px solid rgba(52, 145, 238, 0.15);
  border-collapse: collapse;  
  box-shadow: 2px 2px 5px 0 #c7c7c7;
  max-width: 93vw;
  display: block;
  overflow: auto;
  padding-bottom: 1rem;

  &__header-cell {
    cursor: pointer;
    background: rgba(153, 158, 162, 0.05);
    padding: .5rem 1rem;
    color: rgba(0, 0, 0, 0.85);
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
  }

  &__cell {
    background-color: white;
    padding: .5rem 1rem;
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(4, 21, 37, 0.1);
    max-width: 250px;
    word-wrap: break-word;

    .crud-button {
      display: block;
      margin: 0 auto;
    }
  }

  &__cell-label {
    display: none;
  }

  &__caption {
    background-color: white;
    padding: .8rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 10px 0 #c7c7c7;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
  }

  &__body {
    background-color: #fff;
  }
}



.crud-table-pagination {
  display: block;
  margin-top: 1rem;
  margin: auto;

  &::before {
    content: "";
    clear: both;
    display: block;
    margin-top: 2rem;
  }

  &__link,
  &__previous,
  &__next {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 #c7c7c7;
    border-radius: 2px;
  }

  &__link {
    &--active {
      background-color: #3a96da;
      color: #fff;
      border: 1px solid #1a6fb1;
    }
  }

  &__link:hover,
  &__previous:hover,
  &__next:hover {
    background-color: #25ada7;
    color: #fff;
    border-color: #0e928c;
  }
}

.crud-table-query-builder {
  background-color: #fff;
  padding: 1rem;
  border-radius: .2rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 10px 0 #c7c7c7;
  text-align: center;

  select,
  input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid #ccc;
    min-width: 150px;
    margin-bottom: 1rem;
    margin-top: .5rem;
    padding-left: .6rem;
  }

  input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 15px;
    vertical-align: middle;
  }
}


@media screen and (max-width: 600px) {
  
  .crud-table {
    display: block;
    min-width: 85vw;
    margin-top: 1rem;
    border-radius: 3px;
    overflow: hidden;

    &__row,
    &__caption,
    &__header,
    &__body,
    &__cell {
      display: block;
      width: 100%;
    }

    &__caption {
      margin: 1.1rem 0;;
      border-bottom: 1px solid #e6e6e6;
    }
  
    &__header,
    &__header-cell {
      display: none;
    }

    &__cell {
      border-bottom: 0;
      border-left: 0;
      max-width: none;

      &:last-child {
        padding-bottom: 2rem;
      }

      .crud-button {
        display: inline-block;
        margin: 5px;
      }
    }

    &__row {
      border-bottom: 1px solid #e6e6e6;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__cell-label {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      border-bottom: 1px dashed #e6e6e6;
      padding: .5rem;
      margin-bottom: .5rem;
      background: rgba(184, 187, 189, 0.05);
    }
  }

  .crud-table-query-builder {

    .crud-button {
      &--add{
        margin: 0 auto 2rem auto;
        display: block;
        border-radius: 50%;
        line-height: 3rem;
        width: 3rem;
        padding: 0;
        font-size: 1.6rem;
      }
    }

    select,
    input {
      width: 100%;
      margin-bottom: 0;
    }
  } 
}
